:root {
    --primary: #10367d;
    --second: #a5ce00;
    --base: #ebebeb;
}
.container {
    width: 90%;
    overflow-x: auto;
}

.main {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
}

.main th, .main td {
    border-bottom: 1px solid var(--primary);
    padding: 10px;
    text-align: center;

}
.main tbody tr:hover {
    cursor: pointer;
    transition: all .2s ease;
    background-color: hsla(219, 77%, 28%, .04);
} 
.main th {
    background-color: hsla(219, 77%, 28%, .1);
    border-top: 1px solid var(--primary);
    text-transform: capitalize;
}

@media (max-width: 640px) {
    .main { 
        font-size: .5em; 
    }
    .main th, .main td {
        border-left: 1px solid var(--primary);
        border-right: 1px solid var(--primary);
    }
}